################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tails and Trails.vcxproj
/Tails and Trails.vcxproj.filters
/Tails and Trails.vcxproj.user
/Tails and Trails.sln
